.counteiner {
  width: 900px;
  height: 600px;
  margin: 150px auto 0;
  border: 3px solid rgb(87, 85, 85);
  box-shadow: 10px 10px 30px;
  border-radius: 10px;
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
}
.content-all-msg {
  width: 97%;
  height: 470px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content-users{
  width: 32%;
  height: 100%;
  border-radius: 5px;
  overflow: auto;
}
.seperator{
  width: 2px;
  height: 100%;
  background-color: gold;
}
.content-messages{
  border-radius: 5px;
  width: 65%;
  height: 100%;
  overflow: auto;

}
.content-input-btn-msg{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-input-msg {
  width: 800px;
  height: 100px;
  margin: 7px;

}

.input-msg {
  width: 100%;
  height: 100%;
  border-style: hidden;
  border-radius: 5px;
}
.content-btn {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.submit-msg {
  width: 90px;
  height: 45%;
  background-color: rgb(54, 224, 20);
  border-radius: 5px;
}
.clear-msg {
  width: 90px;
  height: 45%;
  background-color: orange;
  border-radius: 5px;
}
.bg-img {
  width: 100%;
  height: 100%;
}
.content-bg-img {
  position: absolute;
  z-index: -1;
}
body {
  background-image: url('../img/nody-عکس-پس-زمینه-صفحه-چت-تلگرام-1633956626.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.users{
  list-style-type: none;

}
.messages {
  list-style-type: none;
}

.user-li{
  width: 250px;
  height: 60px;
  margin: 5px 0;
  background-color:rgb(233, 221, 221);
  border-radius: 5px;
}
.messages-li{

  width: 500px;
  height: 60px;
  margin: 5px 0;
  background-color:rgb(233, 221, 221);
  border-radius: 5px;
}