/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

//START COLORS DEFENITION
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7030;

$color-tertiary-light: #00d4c8;
$color-tertiary-dark: #059790;

$color-gray1: rgba(141, 141, 142, 1);
$color-gray2: #8e8e8e;
$color-gray3: #d1d1d1;
$color-gray4: #474c55;
$color-gray5: #8d8d8e;
$color-gray6: #2b2a2a;
$color-gray6: #ebebeb;
$color-gray7: #f6f8f9;
$color-gray-light: #f7f7f7;
$color-gray-light2: #8e8e8e;
$color-gray-light3: rgb(167, 167, 167);
$color-white: #fff;
$color-black: #000;
$color-black-medium: #333;
//END COLORS DEFENITION

//START GRID DEFENITION
$grid-width: 135rem;
$grid-gutter-vertical: 4rem;
$grid-gutter-horizantal: 0.5rem;

//END GRID DEFENITION

//START COLOR DEFENITION

$color-gray-primary: #474c55;
$color-gray-medium: #707070;
$color-gray-light: #8d8d8e;

$color-gray-light-1: #dcd9d9;
$color-gray-light-2: #f5f5f5;
$color-gray-light-3: #e8ecee;
// <<<<<<< HEAD
$color-gray-light-4: #f6f8f9;
// =======
// >>>>>>> 5fa49bc7c698eb578e5de00982ef1d29ed40286f
$color-gray-medium-1: #6f7782;

$site-name: #474c55;
